{% extends 'layouts/create_document.html' %}

{% block content %}

<style>
    label {
        font-size: 25px;
        text-transform: capitalize;
    }

    .form-control {
        margin-bottom: 10px;
        width: 25vw;
    }

    .text {
        width: 40vw;
    }

    @media screen and (max-width: 768px) {
        .gray {
            width: 1000px !important;
        }

        .form-control {
            width: 80vw;
            margin: 10px;
        }

        label {
            font-size: 20px;
            text-transform: capitalize;
            font-weight: bold;
        }

        .first_part {
            margin-bottom: 0px;
        }

        .second_part {
            margin-top: 10px;
        }
    }
</style>

<div class="container">
        <div class="row">
<div class="col gray first_part">
    <div class="h5">Service Details</div>
    <form action="{{url_for('list_services')}}" method="POST" enctype="multipart/form-data">
        {{form.csrf_token}}

        <label for="company_name">company name
            {{form.company_name(class="form-control")}}
        </label>
        <br>
        <label for="company_website">company website
            {{form.company_website(class="form-control")}}
        </label>
        <br>
        <label for="contact_details">contact details
            {{form.contact_details(class="form-control")}}
        </label>
        <br>
        <label for="service_location">service location
            {{form.service_location(class="form-control")}}
        </label>
        <br>
        <label for="company_logo">company logo
            {{form.company_logo(class="form-control")}}
        </label>
        <br>
        <br><br>
        <label for="remote_work">remote_work
            {{form.remote_work}}
        </label>
        <br>
        <label for="basic">
            {{form.basic(class="form-control")}}
        </label>
        <br>
        <label for="salary_range">
            {{form.salary_range(class="form-control")}}
        </label>
        <br>
    <label for="service_description">service_description
        {{form.description(class="form-control")}}
    </label>
    <br>
    <label for="benefits">
        {{form.benefits(class="form-control")}}
    </label>


</div>
<div class="col gray second_part">
    <div class="h5">Service Deatails</div>
    <label for="service_position">service position
        {{form.position(class="form-control")}}
    </label>
    <br>
    <label for="service_type">service type
        {{form.service_type(class="form-control")}}
    </label>
    <br>
    <label for="working_hours">working hours
        {{form.hours(class="form-control")}}
    </label>
    <br>
    <label for="service_requirments">service requirments
        {{form.service_requirments(class="form-control")}}
    </label>
    <br>
    <label for="application_deadline">application deadline
        {{form.application_deadline(class="form-control form-date")}}
    </label>
    <br>
    <label for="application_email">application email
        {{form.application_email(class="form-control")}}
    </label>
    <br>
    <label for="qualifications">qualifications
        {{form.qualifications(class="form-control")}}
    </label>
    <br>
    <label for="responsibilities">responsibilities
        {{form.responsibilities(class="form-control")}}
    </label>
    <br>
    <label for="experience_level">experience level
        {{form.experience_level(class="form-control")}}
    </label>


    <br>
    <hr>
    {{form.submit(class="btn btn-primary r")}}
    </form>
</div>
</div>
    </div>
</div>
</div>

{% endblock %}