<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-Learning</title>
    <link rel="stylesheet" href="/static/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom/css/style.css">
    <style>
        .btn-success{
            padding: 0px;
        }
    </style>
</head>

<body>
    <div class="header">
        <label for="logo" class="logo"> {{ page_name }} </label>
        <ul>
            {% if page_name == 'course help' %}
            <li><a class="btn btn-danger" href="/e_learning">exit</a></li>

            {% elif page_name == 'create new course' %}
            <li><a class="btn btn-danger" href="/e_learning">exit</a></li>

            {% elif page_name == 'find groups' %}
            <li><a class="btn btn-success" href="/create_course_group">create group</a></li>
            <li><a class="btn btn-danger" href="/e_learning">exit</a></li>

            {% elif page_name == 'create new group' %}
            <li><a class="btn btn-danger" href="/course_groups">exit</a></li>

            {% else %}
            <li><a class="btn btn-danger" href="/menu">Exit</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        <!-- Your content here -->
        {% block content %}{% endblock %}
    </div>
    <br>
    <footer>
        <div class="p">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div id="flash-message" class="flash">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

        </div>
    </footer>
    <script src="/static/custom/js/script.js"></script> <!-- Link to the external JavaScript file -->
    <script src="/static/bootsrap/js/bootstrap.min.js"></script>
</body>

</html>