<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page_name }}</title>
    <link rel="stylesheet" href="/static/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom/css/style.css"> <!-- Link to the external CSS file -->
    <style>
        @media screen and (max-width: 768px){
        .btn-primary{
            padding: 0px;
        }
        .btn-danger{
            padding: 0px;
        }
        }

    </style>
</head>

<body>
    <div class="header">
        <label for="logo" class="logo"> {{ page_name }} </label>
        <ul>
            {% if page_name == 'App Agent' %}
            <li><a class="btn btn-primary" href="/recharge_tokens">Tokens</a></li>
            <li><a class="btn btn-success" href="/fund_account">Recharge</a></li>
            <li><a class="btn btn-danger" href="/logout">Log Out</a></li>
            {% elif page_name == 'redeem funds' %}
            <li><a class="btn btn-primary" href="/withdrawals">Withdrawals</a></li>
            <li><a class="btn btn-danger" href="/menu">Exit</a></li>
            {% else %}
            <li><a class="btn btn-danger" href="/menu">Exit</a></li>
            {% endif %}
        </ul>
    </div>
    <div class="container-fluid">
        <!-- Your content here -->
        {% block content %}{% endblock %}
    </div>
    <br>
    <footer>
        <div class="p">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <div id="flash-message" class="flash">
                {% for message in messages %}
                <p>{{ message }}</p>
                {% endfor %}
            </div>
            {% endif %}
            {% endwith %}

        </div>
    </footer>
    <script src="/static/custom/js/script.js"></script> <!-- Link to the external JavaScript file -->
    <script src="/static/bootsrap/js/bootstrap.min.js"></script>
</body>

</html>