<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search</title>
    <link rel="stylesheet" href="/static/bootsrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/custom/css/style.css">
</head>
<body>
    <div class="header-accounts">
        <div class="row">
            <div class="col-9">
                <label for="logo" class="logo">{{page_name}}</label>
            </div>
            <div class="col-3">
                {% if page_name == 'search service' %}
                <a class="btn btn-danger" href="/view_services">Back</a>
                {% elif page_name == 'search job' %}
                <a class="btn btn-danger" href="/view_jobs">Back</a>
                {% else %}
                <a class="btn btn-danger" href="/all">Back</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% block content%} {% endblock %}
</body>
</html>