{% extends 'layouts/admin.html' %}

{% block content %}

<style>
    input{
        margin-bottom: 10px;
        width: 50vw !important;
    }
</style>

<div class="container">
    <center><h1>Reset Password</h1></center>
    <center>
        <form action="forgot_password" method="post">
            <label for="first_name">
                <input class="form-control" type="text" name="first_name" id="first_name" autofocus placeholder="first name" >
            </label>
            <br>
            <label for="last_name">
                <input class="form-control" type="text" name="last_name" id="last_name" placeholder="last name">
            </label>
            <br>
            <label for="user_name">
                <input class="form-control" type="text" name="user_name" id="user_name" placeholder="Username">
            </label>
            <br>
                <label for="Password">
                    <input class="form-control" type="password" name="new_password" id="new_password" placeholder="new password">
                </label>
                <br>
                <label for="confirm_password">
                    <input class="form-control" type="password" name="conrim_password" id="confirm_password" placeholder="confirm password">
                </label>
                <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div id="flash-message" class="flash">
                    {% for message in messages %}
                    <p>{{ message }}</p>
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}

            </div>
            <br>
            <button type="submit" class="btn btn-primary">Reset</button>
        </form>
    </center>  
</div>
<script src="/static/bootsrap/js/script.js"></script>
{% endblock %}