{% extends 'layouts/accounts.html' %}

{% block content %}
<div class="container">
    <center><h1>Confirm Withdrawal</h1></center>

    <center>
        <h2>Amount : {{withdraw_amount}}</h2>

        <h2>Pin</h2>
        <form action="{{url_for('confirm_user_withdrawal')}}" method="post">
            {{form.csrf_token}}
            <label for="account_pin">
                {{form.account_pin(class="form-control")}}
            </label>
            <br>
            {{form.submit(class="btn btn-primary")}}
        </form>
    </center>
</div>
<script src="/static/heartbeat/heartbeat.js"></script>
{% endblock %}