{% extends 'layouts/statements.html' %}

{% block title %}Merchant History{% endblock %}

{% block content %}
<link rel="stylesheet" href="/static/custom/css/tables.css">
</style>

<div class="container">
    <div class="row">
        <div class="col">Paycodes {{paycode_count}}</div>
        <div class="col">Withdrawals {{withdrawal_count}}</div>
        <div class="col">Deposits {{deposit_count}}</div>
        <div class="col">Payments {{payment_count}}</div>
    </div>
</div>

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Balance</th>
                <th>Amount</th>
                <th>Available</th>
                <th>Date</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in transactions %}
            <tr>
                <td>{{ transaction.sender_name }}</td>
                <td>{{ transaction.recipient_name }}</td>
                <th>{{ transaction.currency_symbol }} {{ transaction.before_balance }}</th>
                <th>{{ transaction.currency_symbol }} {{ transaction.transaction_amount }}</th>
                <td>{{ transaction.currency_symbol }} {{ transaction.remaining_balance }}</td>
                <td>{{ transaction.transaction_date.month }} - {{ transaction.transaction_date.day }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<script src="/static/heartbeat/heartbeat.js"></script>
{% endblock %}